[Unit]
Description=Jellyseerr - Media Request Management
After=arr.network

[Container]
ContainerName=jellyseerr
Image=docker.io/fallenbagel/jellyseerr:latest
Network=arr.network
PublishPort=5055:5055

# Config persistence
Volume=arr-jellyseerr-config.volume:/app/config

# Environment variables
Environment=LOG_LEVEL=info
Environment=TZ=America/New_York

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target



