[Unit]
Description=PinePods Podcast Management System
After=pinepods-db.container pinepods-valkey.container
Requires=pinepods-db.container pinepods-valkey.container

[Container]
ContainerName=pinepods
Image=docker.io/madeofpendletonwool/pinepods:latest
Network=pinepods.network
PublishPort=8040:8040

# Basic Server Info
Environment=SEARCH_API_URL=https://search.pinepods.online/api/search
Environment=PEOPLE_API_URL=https://people.pinepods.online
Environment=HOSTNAME=https://pinepods.internal.crussell.io

# Database Configuration
Environment=DB_TYPE=postgresql
Environment=DB_HOST=pinepods-db
Environment=DB_PORT=5432
Environment=DB_USER=postgres
Environment=DB_PASSWORD=myS3curepass
Environment=DB_NAME=pinepods_database

# Valkey Settings
Environment=VALKEY_HOST=pinepods-valkey
Environment=VALKEY_PORT=6379

# Debug and User Settings
Environment=DEBUG_MODE=false
Environment=PUID=911
Environment=PGID=911
Environment=TZ=America/New_York

# Mount volumes for downloads and backups
Volume=pinepods-downloads.volume:/opt/pinepods/downloads
Volume=pinepods-backups.volume:/opt/pinepods/backups

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target

